.nav{
    grid-area: n;
    background-color: blueviolet;
    padding: 20px;
}
.item a {
    color: white;
    text-decoration: none;
}
/*Обращаемся к ссылке в item*/

.item a.activeLink{
    color: yellowgreen;
}