.nav{
    grid-area: n;
    background-color: blueviolet;
    padding: 20px;
}
.item a {
    color: white;
    text-decoration: none;
}
/*Обращаемся к ссылке в item*/

.item a.activeLink{
    color: yellowgreen;
}

.item.satebar{
    padding-top: 50px;
}
.friend{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.avatar{
    width: 40px;
    height: 40px;
    background-color: orange;
    border-radius: 40px;
}
.nik{
    margin-top: 10px;
}