.dialogs {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: yellow;

}

.dialogs_item {
padding: 10px;

}
.dialog .active{
    color:gold;
}


.dialog {
    color:red;


}

.messages {
    padding: 10px;

}


.message {


}