.dialogs {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: yellow;

}

.dialogs_item {
padding: 10px;

}
.dialog .active{
    color:gold;
}


.dialog {
    display: grid;
    grid-template-columns: 2fr 10fr;


}
.avatar{
   width: 20px;
    height:20px;
    padding-right:5px;
}

.messages {
    padding: 10px;

}


.message {


}
.textarea{
  margin-left: 20px;

}